<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>Sentiment Analyzer</title>
</head>
<body>
    <h1>商品Sentiment-analyzer</h1>
    <form method="POST">

        <!-- 商品名や口コミサイト -->
        <label for="note">商品名や口コミサイトを入力してください:</label><br>
        <input type="text" id="note" name="note" size="50"><br><br>

        <label for="comment">ここに口コミ入れてください:</label><br>
        <textarea id="comment" name="comment" rows="4" cols="50"></textarea><br>

        <!--　　　　　　口コミ保存 　　　　　　　　-->
        <input type="checkbox" id="save" name="save">
        <label for="save">口コミ保存</label><br><br>
        
        <input type="submit" value="Analyze">
     </form>
     {% if sentiment_label and sentiment_score %}
        <h2>結果:</h2>
        <p>ラベル: {{ sentiment_label }}</p>
        <p>信頼度: {{ sentiment_score }}</p>
     {% endif %}
     <hr>
    <!-- 保存した口コミリンク -->
     <p>
        <a href="/comments">▶ コメント一覧を見る</a>
     </p>


</body>
</html>
